body{
	display: grid;
	font-family: Roboto;
    font-style: normal;
	grid-template-areas:
	"header header"
	"nav article"
	"footer footer ";
	grid-template-rows: 60px 1fr 50px;
	grid-template-columns: 20% 1fr;
	height:100vh;

}

header{
	grid-area: header;	
	background: #37ABFF;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.named{
	flex-grow: 1;
	margin-left: 40px;
	
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}

.circ{
	margin: 15px;
}

.circ img{
	height: 30px;
}

.nav{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	
	align-items: left;
	padding: 19px 40px;
	font-size: 18px;
	line-height: 21px;
}


nav{
	grid-area: nav;
	background: #EDEDED;
}

.nav:hover{
	 background: #DCDCDC;
}
article{
	grid-area: article;
	display: flex;
	flex-wrap: wrap;
	
}

footer{
	grid-area:footer;
	background: #3C3C3C;
	color: white;
	display: flex;
	justify-content: flex-start;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.tenzor{
	flex-grow: 1;
	padding: 17px 39px;
}

.rule{
	padding: 17px 39px;
}
	
.card{
	display:flex;
	flex-direction: column;		
	background: #F3F3F3;
	border-radius: 10px;
	width: 230px;
	height: 340px;
	margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.card .card_title{
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #464646;
	margin: 12px 10px 0px;
}

.card .card_date{
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #ABABAB;	
	margin: 7px 10px;

}

.card .card_discr{
	margin: 0px 10px;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;	
	flex-grow: 1;

}

.card .card_href{
	background: #DCDCDC;
	height:40px;
	text-align: center;
	padding-top: 15px;
}
.card_href:hover{
	background: #3C3C3C;
	border-radius: 10px;
	color: white;
}







